@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);


::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Oxygen', sans-serif;
	background: url("../img/sidebar.png") 0 0 repeat;
}

.style-small-obs {
	margin-top: 2px;
	color: #b0b0b0;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
}
div.copyright {
	position: absolute;
	z-index: 21;
	color: #b0b0b0;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	bottom: 30px;
	left: 10px;
}
div.logo-caelum {
	background-image: url(http://www.caelum.com.br/imagens/base/sp-base.sprite/sprite.1341568153.svg);
	background-position: 0 -15.22em;
	width: 191px;
	height: 75px;
}

div.sidebar{
	width: 270px;
	position: absolute;
	top: 37px;
	left: 0px;
	bottom: 0px;
	box-shadow: 1px 0 2px rgba(0,0,0,0.3);
	z-index: 20;
}
div.container-custom {
	position: absolute;
	top: 37px;
	left: 270px;
	bottom: 0px;
	right: 0px;
	background: url("../img/09.jpg") top center repeat fixed;
	z-index: 10;
	overflow: auto;
	padding-bottom: 20px;
}

div.content {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	margin: 10px;
	min-height: 300px;
	margin-top:30px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	background: #f9fcf7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmNmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY5ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-8 */
		
}

div.header {
	-webkit-backface-visibility: hidden;
	background: #45484d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

	height: 37px;
	border-bottom: 1px solid #333;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	z-index: 100;
	position: absolute;
	left: 0px;
	right: 0px;
	color: #fff;
}

div.header h1 {
	cursor:pointer;
	font-size: 15px;
	color: #fff;
	margin: 0px;
	padding: 0px;
	line-height: 33px;
	padding-left: 20px;
	font-weight: normal;
	text-shadow: 0 1px 0 #666;
	border-bottom: none !important;
}

div.menu {
}

div.menu ul {
	margin: 0px;
	padding: 0px;
}

div.menu ul li {
	white-space: nowrap;
	color: #423e3e;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	font-size: 13px;
	font-weight: normal;
	list-style: none;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dotted #ccc;
	padding-left: 15px; 
}
a {
	color: #423e3e;
	text-decoration: none;
}
.icon {
	-webkit-user-select: none;
	background-image: url(../img/info.png);
	background-position: 0px -80px;
	color: rgb(66, 62, 62);
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	vertical-align: middle;
	width: 20px;
	margin-right: 10px;
}

h1 {
	font-size: 22px;
	color: #333;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}
h2,h3,h4 {
	color: #333;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}


